{% extends 'base.html' %}
{% block title %}<title>Dashboard</title>{% endblock title %}
{% block content %}
    {% include 'include/creative/navbar.html' %}
    <div class="text-center mt-5">
        <h3><p class="text-primary">{{request.user.username}}, Welcome To NonStop Ecommerce.</p></h3>
        <a href="#" class="btn btn-primary mt-5">Please click me.</a>
    </div>
{% endblock content %}
